* {
	margin:0;
	padding:0;
  }

/* comienzo index y nav */
.Logo {
  background-color: black;
  background-image: url("../img/logo\ elite.png"); }


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000000;
   }

main {
  flex-grow: 1; }

.hero-image {
  min-height: 100vh;
  background-image: url("../img/heroimage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000; }
  .hero-image div {
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center; }


.main{
  background-color: black;
}

h1{
    color: #F2CE00;
    font-weight: bolder;
    font-size: 100px;
    font-family: 'Open Sans', sans-serif;}

  
.head {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
text-align: center;
background-color: black;
}
  

.container-fluid {
    list-style-type: none;
    background-color: #000000;
    padding: 0;
    color:#F2CE00;
    }


.navbar-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #000000;
      float: right;
      }
      
.nav-item {
      display: inline-block;
      padding: .5rem; }
    
.nav-link {
  color: #F2CE00;
  text-decoration: none;
  display: inline-block;
  padding: 10px; }

.nav-item a:hover {
  color: black;
  background-color: #F2CE00;
  border-radius: 100%; }


/* comienzo card footer redes sociales */

footer h3 {
  font-size: medium;
}



/* comienzo card contacto */

section div {
  border: solid 1px;
  border-color: darkgoldenrod;
  width: 450px;
  padding: 8px; }
  section div img {
    width: 100%; }
   
    .contacto {
      margin-top: 50px;
      width: 450px;
      border-color: #000000; }
    
      .mapa {
      margin-top: 50px;
      margin-right: 50px;
      width: fit-content;
      border-color: #000000; }
    
    .container6 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px 20px;
        grid-auto-flow: row;
        grid-template-areas: ". .";
        margin-top: 20px;
        margin-bottom: 30px;
        justify-items: center; }

    .galeriagrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1px 1px;
        border: darkgoldenrod;
        margin-bottom: 30px;
        grid-auto-flow: row;
        grid-template-areas:
          ". . ."
          ". . ."
          ". . ."
          ". . .";
      }
      
    
    .bordergaleria:hover {
      border: none;
      filter:sepia(1);
      transition: all 0.1s ease;
      margin: 2px; }
    
    
    h2 {
      color: yellow;
      margin-top: 20px;
      margin-bottom: 20px;
      font-family: "Roboto", sans-serif;
      font-size: 50px;
      text-align: center; }

    h3{
      color: darkgoldenrod;
      font-family: "Roboto", sans-serif;
      text-align: center; }

      .social {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap; }
       .social ul {
          display: flex;
          flex-direction: row;  }
          .social ul li {
            list-style-type: none; }
            .social ul li img {
              background-color: darkgoldenrod; }
      
     
      /* comienzo card sedes */

    .galeriasedes{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        margin-bottom: 30px;
        grid-auto-flow: row;
        grid-template-areas:
          ". ."
          ". ."
          ". .";
        
      } 

      .galeriasedes div {
        width: 302px;
        height: 301px;
        padding: 0px;
        margin-left: 50px;
      }

      .galeriasedes img{
          object-fit:fill;
          background-size: cover;
          width: 300px;
          height: 300px;
          padding: 0px;
          object-position: center center;
      }

    /* comienzo card carreras */

      .carousel-item.active img {
            margin-top: 20px;
            margin-bottom: 30px;
            
            }


    /* comienzo card gimnasio */

    h3{
      color: darkgoldenrod;
      font-family: "Roboto", sans-serif;
      text-align: center; }


    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 20px 20px;
      grid-template-areas: ". ."
     ". ."
     ". .";
     margin-top: 30px; 
     margin-bottom: 40px;
      justify-items: center; }
      .container p {
        text-align: left;
        color: aliceblue;
        font-family: "Roboto", sans-serif; }
        .container p img:hover {
          transform: scale(1.2, 1.2); }

/* styles media query menú */
  
@media only screen and (max-width: 768px) {

  .head {
    display: flex;
    flex-direction: column;
    justify-content: center; } 

    .social ul {
      display: flex;
      flex-direction: row;
      padding-left: 44%; }  }
       
  
    .social p {
      display: none; }

      
/* styles media query sedes */

@media only screen and (max-width: 768px) {

  .galeriasedes {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      "."
      "."
      "."
      "."
      ".";
  }
}  

/* styles media query gimnasio */


@media only screen and (max-width: 768px) {
  
  .container {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      "."
      "."
      "."
      "."
      "."
      "."
      "."
      "."
      "."
      "."
      ".";
  }
  .carousel-inner img {
    width: 600px;
    height: 450px;
  }
   }

   /* styles media query contacto */

   @media only screen and (max-width: 768px) {

   .container6 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "."
 "."; }
  .mapa iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; }
  .galeriagrid {
    display: grid;
    align-content: center;
    margin-left: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "."
 "."
 "."
 "."
 "."
 "."
 "."
 "."; }  
 }

    /* styles media query carreras */

    @media only screen and (max-width: 768px) {
      
      .carousel-inner img{
          width: 450px;
          height: 400px;
        }
    

    }